@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root{
    --maroon : #951A1D;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding: 2rem 9%;
}

/* header section starts */

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 2rem 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .logo img{
    width: 80%;
}

header .navbar a{
    font-size: 1.8rem;
    padding: 0 1.5rem;
    color: #444;
}

header .navbar a i{
    font-size: 1.2rem;
    padding-left: 2px;
    color: #444;
}

header .navbar a i:hover{
    color: var(--maroon);
}

header .navbar a:hover{
    color: var(--maroon);
}

header .icons a{
    font-size: 2rem;
    color: #444;
    margin-left: 1.8rem;
    cursor: pointer;
}

header .icons a:hover{
    color: var(--maroon);
}

header .icons a button{
    background: var(--maroon);
    color: #fff;
    padding: 10px 15px;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
}

header .icons a button:hover{
    background: #951a1cda;
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color: var(--maroon);
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    display: none;
}

header .navbar .navbar-hide{
    display: none;
}

/* header section ends */

/* banner section start */
.banner{
    background-color: #F7F7F7;
    display: flex;
    position: relative;
    top: 80px;
    justify-content: space-between;
    min-height: 80vh;
    align-items: center;
}
.banner .banner-part-1 h1{
    color: #444;
    font-size: 4rem;
    font-weight: bold;
}
.banner .banner-part-1 h1 span,
.banner .banner-part-1 .para-2 span{
    display: block;
}
.banner .banner-part-1 .para-1{
    font-size: 20px;
    color: #666;
    font-weight: 500;
    margin-bottom: 50px;
    margin-top: 20px;
}
.banner .banner-part-1 .para-2{
    font-size: 14px;
    margin-top: -25px;
    padding-left: 10px;
    margin-bottom: 50px;
    line-height: 2.5rem;
    font-weight: 600;
    color: #666;
}
.banner .banner-part-1 .profile{
    display: flex;
    padding-left: 20px;
}
.banner .banner-part-1 .profile img{
    border-radius: 50%;
    margin-right: 20px;
}
.banner .banner-part-1 .profile span{
    padding-top: 5px;
}
.banner .banner-part-1 .profile p{
    font-size: 14px;   
    color: #666;
    font-weight: 600;
}
.banner .banner-part-1 .profile .profile-para-1{
    font-size: 14px;
    font-weight: 800;
    color: #444;
}

.banner .banner-part-1 .banner-image-1{
    text-align: center;
    width: 100%;
    display: none;
}

.banner .banner-part-2 img{
    width: 100%;
}

/* banner section end */

/* Technology Challenges section starts */

.challenges{
    margin-top: 10rem;
    margin-bottom: 2rem;
    padding-left: 10%;
    padding-right: 10%;
}

.challenges .heading{
    text-align: center;
    padding-bottom: 1rem;
}

.challenges .heading h2{
    color: #444;
    font-size: 3rem;
    font-weight: bold;
}
.challenges .heading p{
    font-size: 16px;
    color: #666;
    padding: 1rem 10rem;
}
.challenges .slides{
    display: flex;
    justify-content: space-between;
}
.challenges .slides .slide-part{
    width: 30%;
    text-align: center;
    padding: 5rem 3rem;
}
.challenges .slides .slide-part h3{
    margin: 1rem 0;
    font-size: 2rem;
}
.challenges .slides .slide-part p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.challenges .slides .slide-part p span{
    font-weight: bold;
}
.challenges .slides .slide-part a{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--maroon);
}
.challenges .slides .slide-part:hover{
    border: 1px solid #666;
    background: rgba(102, 102, 102, 0.096);
}

/* Technology Challenges section ends */

/* Brands section starts */

.brands{
    margin-bottom: 4rem;
    padding-left: 10%;
    padding-right: 10%;
}
.brands .heading{
    text-align: center;
    padding-bottom: 1rem;
}
.brands .heading h2{
    color: #444;
    font-size: 3rem;
    font-weight: bold;
}
.brands .heading p{
    font-size: 16px;
    color: #666;
    padding: 1rem 10rem;
}
.brands .brand-images{
    text-align: center;
}
.brands .brand-images img{
    border: 1px solid rgba(65, 63, 63, 0.466);
    width: 200px;
    height: 50px;
    margin: 1rem;
    padding: 5px 10px;
    text-align: center;
}

/* Brands section ends */

/* Experiences section starts */

.experiences{
    margin-bottom: 4rem;
    padding-left: 20%;
    padding-right: 20%;
}
.experiences .heading{
    text-align: center;
    padding-bottom: 3rem;
}
.experiences .heading h2{
    color: #444;
    font-size: 3rem;
    font-weight: bold;
}
.experiences .experiences-part{
    display: flex;
}
.experiences .experiences-part .experiences-part-2 p{
    font-size: 1.8rem;
    padding: 1rem 3rem;
}
.experiences .experiences-part .experiences-part-2 span{
    display: block  ;
    font-size: 1.8rem;
    padding: 2rem 3rem;
    font-weight: 600;
}
.experiences-part-2 p{
    color: #666;
}

/* Experiences section ends */

/* Client section starts */
.clients{
    margin-bottom: 4rem;
    padding-left: 20%;
    padding-right: 20%;
}
.clients .heading{
    text-align: center;
    padding-bottom: 3rem;
}
.clients .heading h2{
    color: #444;
    font-size: 3rem;
    font-weight: bold;
}

#slider {
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    text-align: center;
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    padding: 10px;
    border: 3px solid #ccc;
    background: #fff;
    position: relative;
    z-index: 1;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 300px;
 }
 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
 }
 #slides .slide_1 {
    background: #00171F;
 }
 #slides .slide_2 {
    background: #003459;
 }
 #slides .slide_3 {
    background: #007EA7;
 }
 #slides .slide_4 {
    background: #00A8E8;
 }
 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float:right;
    margin: 0 -50px 0 0;
    display: block;
 }
 #slide1:checked ~ #controls label:nth-last-child(2),
 #slide2:checked ~ #controls label:nth-last-child(3),
 #slide3:checked ~ #controls label:nth-last-child(4),
 #slide4:checked ~ #controls label:nth-last-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float:left;
    margin: 0 0 0 -50px;
    display: block;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: #444;
 }





/* media queries */
@media (max-width:1150px) {
    section{
        padding: 2rem 1%;
    }
   .banner{
        padding: 2rem 5%;
    }
    .banner .banner-part-1 h1{
        font-size: 3rem;
    }
    .banner .banner-part-1 .para-1{
        font-size: 15px;
        margin-bottom: 30px;
    }
    .banner .banner-part-1 .para-2{
        font-size: 14px;
    }
    .banner .banner-part-1 .para-2 span{
        display: inline;
    }
}

@media (max-width:991px) {
    html{
        font-size: 55%;
    }
    header{
        padding: 2rem;
    }
    .challenges,
    .brands,
    .experiences,
    .clients{
        margin-top: 10rem;
        margin-bottom: 2rem;
        padding-left: 5%;
        padding-right: 5%;
    }
    .challenges .heading p,
    .brands .heading p{
        font-size: 16px;
        color: #666;
        padding: 1rem 5rem;
    }
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(4),
    #slide4:checked ~ #controls label:nth-last-child(1) {
       margin: 0;
    }
    #slides {
       max-width: calc(90%);
       margin: 0 auto;
    }
}

@media (max-width:768px){
    header .fa-bars{
        display: block;
    }
    header .icons a{
        font-size: 2.5rem;
    }
    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #f7f7f7;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: 1rem solid rgba(0, 0, 0, .1);
        display: block;
    }

    header .navbar .navbar-hide{
        display: inline-block;
    }
    header .icons .navbar-top-hide{
        display: none;
    }
    .banner{
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .banner .banner-part-1 .banner-image-1{
        display: block;
        padding: 5rem;
    }
    .banner .banner-part-2 img{
        display: none;
    }
    .banner .banner-part-1 h1{
        font-size: 4rem;
    }
    .banner .banner-part-1 h1 span{
        display: inline;
    }
    .banner .banner-part-1 .para-1{
        display: none;
    }
    .banner .banner-part-1 .image-quotes{
        display: flex   ;
    }
    .banner .banner-part-1 .profile{
        justify-content: center;
        padding-left: 0;
    }
    .banner .banner-part-1 .profile img{
        border-radius: 50%;
        margin-right: 10px;
    }
    .experiences-part-1 img{
        display: none;
    }
    .challenges .heading p,
    .brands .heading p{
        font-size: 16px;
        color: #666;
        padding: 1rem 1rem;
    }
    .brands .brand-images img {
        border: 1px solid rgba(65, 63, 63, 0.466);
        width: 49%;
        height: 50px;
        margin: 0;
        padding: 5px 10px;
        text-align: left;
    }
    .brands .brand-images {
        text-align: left;
    }
}

@media (max-width:450px) {
    html{
        font-size: 50%;
    }
  
}